<div dropdown #dropdown="bs-dropdown" [container]="appendTo" (isOpenChange)="onOpenChange()" (onHidden)="onHidden()">
  <ul class="datetime-popup dropdown-menu" role="menu" *dropdownMenu (offClick)="onClose()">
    <li class="my-2 mx-2">
      <datepicker *ngIf="showDate"
                  [(ngModel)]="localValue"
                  (ngModelChange)="onPickerChange()"
                  [showWeeks]="showWeeks"
                  [datepickerMode]="datepickerMode"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [dateDisabled]="dateDisabled"></datepicker>
      <timepicker *ngIf="showTime"
                  [(ngModel)]="localValue"
                  [min]="minDate"
                  [max]="maxDate"
                  (ngModelChange)="onPickerChange()"></timepicker>
    </li>
    <li class="mx-2 mb-2">
      <span class="btn-group pull-left">
          <button type="button"
                  (click)="onNow()"
                  *ngIf="nowButton.show"
                  [ngClass]="nowButton.cssClass">{{ nowButton.label }}</button>
          <button type="button"
                  (click)="onClear()"
                  *ngIf="clearButton.show"
                  [ngClass]="clearButton.cssClass">{{ clearButton.label }}</button>
      </span>
      <span class="btn-group pull-right">
          <button type="button"
                  (click)="onClose()"
                  *ngIf="closeButton.show"
                  [ngClass]="closeButton.cssClass">{{ closeButton.label }}</button>
      </span>
    </li>
  </ul>
</div>
