<div class="dropdown" [ngClass]="{ 'show': showPopup === true }" (offClick)="offClick()">
  <ul class="dropdown-menu" role="menu" [ngClass]="{ 'show': showPopup === true }">
    <li class="my-2 mx-2">
      <datepicker *ngIf="showDate"
                  [(ngModel)]="localValue"
                  (ngModelChange)="onPickerChange()"
                  [showWeeks]="showWeeks"
                  [datepickerMode]="datepickerMode"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [dateDisabled]="dateDisabled"></datepicker>
      <timepicker *ngIf="showTime"
                  [(ngModel)]="localValue"
                  (ngModelChange)="onPickerChange()"></timepicker>
    </li>
    <li class="mx-2 mb-2">
      <span class="btn-group pull-left">
          <button type="button" (click)="onNow()"
                  *ngIf="nowButton.show"
                  [ngClass]="nowButton.cssClass">{{ nowButton.label }}</button>
          <button type="button" (click)="onClear()"
                  *ngIf="clearButton.show"
                  [ngClass]="clearButton.cssClass">{{ clearButton.label }}</button>
      </span>
      <span class="btn-group pull-right">
          <button type="button" (click)="offClick()"
                  *ngIf="closeButton.show"
                  [ngClass]="closeButton.cssClass">{{ closeButton.label }}</button>
      </span>
    </li>
  </ul>
</div>
