<div class="input-group">
  {{ showPicker }}
  <datetime-popup [value]="value"
                  (valueChange)="onPopupChange($event)"
                  [(showPopup)]="showPicker"
                  [appendTo]="appendTo"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [showDate]="showDate"
                  [showTime]="showTime"></datetime-popup>

  <input class="form-control"
         (blur)="onBlur($event.target.value)"
         (focus)="onFocus($event)"
         (mouseup)="onFocus($event)"
         [placeholder]="placeholder"
         [ngModel]="value"
         (ngModelChange)="onChange($event)"
         [name]="name" />

  <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="onTogglePicker($event, !showPicker)">
          <i class="fal fa-calendar-alt" aria-hidden="true"></i>
      </button>
  </div>
</div>
